.side_menu {
  width: 18%;
  height: 100%;
}

.user_name_heading {
  width: 94%;
  height: 9%;
  margin: 0 auto;
  justify-content: space-between;
}

.user_name_heading .logo {
  border: 2px solid #3772ff;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  margin: 0 0.3vw;
  text-align: center;
  background-color: #3772ff;
}

.side_menu ion-icon {
  color: snow;
}

/* Menu Section Start  */
.menu_section {
  width: 94%;
  height: 60%;
  margin: 0.3vw auto;
}

.menu_links {
  margin: 0.6vw 0.3vw;
  font-size: 1vw;
  color: #808191;
  font-weight: bold;
}

.top-react-icons {
  font-size: 1.6vw;
  color: snow;
}

.menu-icons {
  font-size: 2vw;
  color: #808191;
  margin: 0 0.6vw;
}

.sec_8 {
  border-radius: 0.9vw;
  height: 3vw;
  padding: 0 1vw;
  background-color: #353945;
  color: snow;
}
.section_8 {
  font-size: 2.3vw;
  color: snow;
  margin: 0 0.6vw;
}
/* Menu Section End  */

.menu_bottom {
  width: 94%;
  height: 9%;
  margin: 3vw 0 0 0.6vw;
}

.user_btn_1 {
  border-radius: 0.6vw;
  border: none;
  outline: none;
  width: 45%;
  height: 60%;
  margin: 0 0.3vw;
  font-size: 1vw;
  background-color: #353945;
  color: snow;
  justify-content: space-around;
}

.menu_bottom .user_img {
  border-radius: 50%;
  width: 1.6vw;
  height: 1.6vw;
  background-color: #3772ff;
}

.user_btn_2 {
  border-radius: 0.6vw;
  border: none;
  outline: none;
  width: 45%;
  height: 60%;
  font-size: 1vw;
  background-color: #a3e3ff;
  color: #3772ff;
}

.additional_button {
  width: 94%;
  height: 9%;
  margin: 0 auto;
}
.dark_toggle {
  border-radius: 1vw;
  border: none;
  outline: none;
  width: 30%;
  height: 60%;
  font-size: 1vw;
  background-color: #353945;
  color: #3772ff;
}

.toggle {
  font-size: 3vw;
  color: #808191;
}

.blue {
  font-size: 3vw;
  color: #3772ff;
}
