* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}

.y-axis-center {
    display: flex;
    align-items: center;
}

.x-y-axis-center {
    display: flex;
    align-items: center;
    justify-content: center;
}