.subMenuContianer,
.viewAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subMenuContianer h3 {
    font-size: 16px;
    font-weight: 500;
    color: #2a2b3c;
}

.subMenuContianer .viewAll p {
    font-size: 12px;
    color: #f8901c;
    font-weight: 400;
}

.subMenuContianer .viewAll i {
    background: #f8901c;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.subMenuContianer .viewAll i .MuiSvgIcon-root {
    font-size: 16px !important;
    color: #faf9fb;
}

.subMenuContianer,
.viewAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subMenuContianer h3 {
    font-size: 16px;
    font-weight: 500;
    color: #2a2b3c;
}

.subMenuContianer .viewAll p {
    font-size: 12px;
    color: #f8901c;
    font-weight: 400;
}

.subMenuContianer .viewAll i {
    background: #f8901c;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.subMenuContianer .viewAll i .MuiSvgIcon-root {
    font-size: 16px !important;
    color: #faf9fb;
}